<footer>
    <div class="row text-center">
        <div class="col-md">
            <!-- Доп.страницы -->
            <ul class="list-unstyled ftr-link">
                <li><a href="">Помощь</a></li>
                <li><a href="">О компании</a></li>
                <li>
                    <a href="">Конфиденциальность</a>
                </li>
                <li class="mt-2">© 2021 RedsideDiablol</li>
            </ul>
        </div>
    </div>
</footer>
<button onclick="ScrollTop()" id="buttonScroll"><img src="/static/image/scroll.png" class="logoScroll"></button>