<div class="container">
    <h1 class="status">404</h1>
    <h3 class="text">
        К сожалению мы не смогли найти эту страницу
        <img class="sad" src="/static/image/icons/black/sad.svg">
    </h3>
    <div class="button row">
        <div class="col-8 col_button">
            <a class="btn btn-primary link" href="/" role="button">
                Вернуться на главную
                <img class="walk" src="/static/image/icons/white/walk.svg">
            </a>
        </div>
    </div>
</div>