<div class="container">
    {{#if lecturer}}
        <div class="card border-info mb-3">
            <div class="card-header">
                <h5 class="card-title">Тесты</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href = "/tests/">Перейти к списку тестов (+)</a>
                </p>
            </div>
        </div>
        <div class="card border-info mb-3">
            <div class="card-header">
                <h5 class="card-title">Группы</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href = "/groups/">Перейти к списку групп</a>
                </p>
            </div>
        </div>
    {{/if}}
    {{#if student}}

    {{/if}}
    {{#if admin}}
        <div class="card border-info mb-3">
            <div class="card-header">
                <h5 class="card-title">Тесты</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href = "/tests/">Перейти к списку тестов (+)</a>
                </p>
            </div>
        </div>
        <div class="card border-info mb-3">
            <div class="card-header">
                <h5 class="card-title">Группы</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href = "/groups/">Перейти к списку групп</a>
                </p>
            </div>
        </div>
    {{/if}}
</div>