.container {
    min-height: 50vw;
}

.status {
    text-align: center;
    font-size: 15vw;
    margin-bottom: 4vw;
}

.text {
    text-align: center;
    font-size: 5vw;
}
.sad {
    width: 7vw;
}

.button {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}
.col_button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.link {
    border-radius: 2vw;
    font-size: 3vw;
}
.walk {
    width: 5vw;
}
