.needed {
    color: red;
}

.colButton {
    display: flex;
    flex-direction: column;
}

.card-body {
    padding: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.imgExample {
    width: 100%;
}
