#add_test {
}

.col_add_test {
    display: flex;
    flex-direction: column;
}

.colButton {
    display: flex;
    flex-direction: column;
}
.main_header {
    text-align: center;
}

.row_card-footer {
    margin-left: 0;
    margin-right: 0;
}
