<div class="mainBlock">
    <div class="row rowHeader">
        <h2 class="mainHeader">Образовательная система основы SQL</h2>
    </div>
    <div class="row rowForm">
        <div class="row rowForm1">
            <div class="col-6 colForm">
                <div class="form-floating">
                    <input type="email" class="form-control" id="inputLogin" placeholder=" " />
                    <label for="inputLogin">Email/Логин</label>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm2">
            <div class="col-6 colForm">
                <div class="form-floating">
                    <input type="password" class="form-control" id="inputPassword" placeholder=" " />
                    <label for="inputPassword">Пароль</label>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm3">
            <div class="col-6 colForm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkRemember" />
                    <label class="form-check-label" for="checkRemember"> Запомнить меня </label>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm4">
            <div class="col-6 colForm">
                <button type="button" data-bs-dismiss="modal" id="buttonLogIn" class="btn btn-outline-success">Войти</button>
            </div>
        </div>
    </div>
    <div class="row rowReg"></div>
</div>