<div class="mainBlock">
    <div class="row rowHeader">
        <h2 class="mainHeader">Восстановление пароля</h2>
    </div>
    <div class="row rowForm">
        <div class="row rowForm mb-3">
            <div class="col-6 colForm">
                <div class="form-floating">
                    <input type="email" class="form-control" id="inputLogin" placeholder=" " />
                    <label for="inputLogin">Email/Логин</label>
                    <div id="feedback_login" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm mb-3">
            <div class="col-6 colForm">
                <button type="button" data-bs-dismiss="modal" id="buttonForgot" class="btn btn-outline-success">Восстановить</button>
            </div>
        </div>
    </div>
    <div class="row rowReg"></div>
</div>