<div class="mainBlock">
    <div class="row rowHeader">
        <h2 class="mainHeader">Восстановление пароля</h2>
    </div>
    <div class="row rowForm">
        <div class="row rowForm1">
            <div class="col-6 colForm">
                <div class="form-floating">
                    <input type="password" class="form-control" id="inputPass1" placeholder=" " />
                    <label for="inputPass1">Новый пароль</label>
                    <div class="invalid-feedback"> Обязательно к заполнению! </div>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm2">
            <div class="col-6 colForm">
                <div class="form-floating">
                    <input type="password" class="form-control" id="inputPass2" placeholder=" " />
                    <label for="inputPass2">Повторите пароль</label>
                    <div class="invalid-feedback"> Пароли не совпадают </div>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm3">
            <div class="col-6 colForm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkPass" />
                    <label class="form-check-label" for="checkPass"> Показать пароль </label>
                </div>
            </div>
            <div class="col-6 colForm"></div>
        </div>
        <div class="row rowForm4">
            <div class="col-6 colForm">
                <button type="button" data-bs-dismiss="modal" id="buttonRecovery" class="btn btn-outline-success">Восстановить</button>
            </div>
        </div>
    </div>
</div>