.colButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_main {
    text-align: center;
    margin: 0;
}

.needed {
    color: red;
}
